* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

:root {
    --coral: rgb(248, 146, 109);
}

body {
    background-color: #f9fcfc;
  }

.header {
      background-color: var(--coral);
      width: 100%;
      padding: 0;
      margin: 0;
      float: left;
  }

.header nav {
    width: 100%;
    padding: 15px;
    margin-left: 20px;
    float: left;
    font-size: 20px;
}

h1 {
    display: inline;
    font-size: 40px;
    width: 50%;
}

.header ul {
    float: right;
    width: 30%;
}

.header ul li {
    display: inline-block;
    margin-left: 25px;
    
}

a {
    color:blueviolet;
    text-decoration: underline;
    font-size: 25px;
}

a:hover {
    text-decoration-style: wavy;
    opacity: 50%;
}

.about {
    width: 100%;
    padding: 40px;
    float: left;
}

.about h2 {
    display: inline;
    width: 20%;
    margin-left: 40px;
}

.about img {
    max-height: 300px;
    border: 2px solid rgb(126, 32, 145);
    border-radius: 50%;
    float: right;
}

.about p {
    float: right;
    width: 50%;
    text-align: inherit;
}


.work {
    padding: 35px;
    width: 100%;
    float: left;
}

.work h2 {
    float: left;
    width: 20%;
    margin-left: 40px;
}

/*MAKE 1ST BOX LARGER THAN THE OTHERS!!!!!*/
#first {
    width: 100%;
    /*REPLACE background img when you have pictures to display*/
}

/*#second {}*/
    /*REPLACE*/


 /*#third {}*/
    /*REPLACE*/


/*#fourth {}*/
    /*REPLACE*/


/*#fifth {}*/
    /*REPLACE*/


.flex-container {
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
}

.flex-item {
    width: 50%;
    border-radius: 16px;
    border: 2px solid blue;
    background-image: url('https://via.placeholder.com/500');
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

.flex-item:hover {
    color: lightgreen;
    opacity: 50%;
}

.flex-item span {
    margin-top: auto;
    width: 100%;
    background-color: transparent;
    text-decoration: none;
    color: blueviolet;
    padding: 10px 5px;
    text-align: start;
}


.contact {
    background-color: var(--coral);
    width: 100%;
    padding: 40px 0;
    margin-top: auto;
    float: left;
    position: bottom;
}

.contact h2 {
    display: inline;
    margin-left: 40px;
    width: 20%;
}

.contact ul {
    float: right;
    width: 70%;
}

.contact ul li {
    display: inline-block;
    margin-left: 25px;
}


/*media queries--1024*/
@media screen and (max-width: 1324px) {
    * {
        background-color: rgb(170, 148, 250);
    }
    
    .header ul {
        width: 50%;
    }

    .about p {
        width: 40%;
    }

}



/*768 screens*/
@media screen and (max-width: 768px) {
    * {background-color: tan;}
    .header nav {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .header ul {
        width: 100%;
        float: left;
        padding: 10px;
    }

    .header ul li {
        margin-left: 0;
        margin: 10px;
    }

    .about h2, .about p {
        width: 100%;
        float: left;
        text-align: center;
        margin-left: 0;
        margin-top: 15px;
    }

    #img {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .work h2 {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .flex-container {
        margin-top: 15px;
        float: left;
        width: 100%;
    }

    .contact h2 {
        float: left;
        width: 100%;
        margin-top: 15px;
        margin-left: 0;
        text-align: center;

    }

    .contact ul {
        float: left;
        width: 100%;
        margin-top: 15px;
        text-align: center;
    }
}